@using System.Activities.Statements
@model Klimatogrammen.ViewModels.KlimatogramKiezenIndexViewModel

@{
    ViewBag.Title = "Kies een klimatogram";
}

<h2>Klimatogram kiezen</h2>
<h4>Kies een klimatogram</h4>
<hr />
<div id="continent">
    @Html.Partial("_Continent", Model)
</div>

<div id="land"></div>

<div id="locatie"></div>

<div id="container"></div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/Custom/klimatogramIndex.js"></script>
}
