
@{
    ViewBag.Title = "Index";
}

<h2>Oefeningensite voor klimatogrammen</h2>

<p>Welkom op deze oefensite om jullie aarderijkkundige kennis te vergroten en in te oefenen, met name het gebruik van klimatogrammen.</p>
<p>Op de volgende pagina's kan je uw graad selecteren. Afhankelijk van uw graad kan je volgende scenario's verwachten:</p>

<ul>
    <li><b>Graad 1</b>: Kies een klimatogram van een stad in Europa. Vervolgens mag je korte vraagjes oplossen om nadien zelf over te gaan tot determinatie.</li>
    <li><b>Graad 2</b>: Kies een klimatogram van een stad wereldwijd. Afhankelijk van het jaar krijg je extra informatie bij het determineren.</li>
    <li><b>Graad 3</b>: Plaats zes steden op een wereldkaart, rekening houdende met de verkregen klimatogrammen.</li>
</ul>

<p>Veel succes!</p>

<p>
    @Html.ActionLink("Ga naar de volgende pagina", "Index", "Graad", null, new { @class = "btn btn-primary" })
</p>

