@model Klimatogrammen.ViewModels.VegetatieAntwoordViewModel

<div>
    <h4>@Model.Antwoord</h4>
	<hr />
    @if (Model.Foto == "") {
       <img src="http://upload.wikimedia.org/wikipedia/commons/c/c9/-Insert_image_here-.svg" class="img-responsive" />
    } else {
        <img src="@Model.Foto" class="img-responsive" />
    }
</div>
<p>
 @Html.ActionLink("Stoppen", "Index", "Home", null, new { @class = "btn btn-primary" })

</p>
